TG_BOT_TOKEN=<token>    # Telegram token from BotFather

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

EXCHANGE_NAME=polymarket.nba
QUEUE_TG_BOT=tg_bot
QUEUE_ORACLE=oracle
QUEUE_REPORT=report
RK_REQUEST=request
RK_RESPONSE=response
